<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Concorso Spiderman Far From Home: Gallery</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- animsition.css -->
    <link rel="stylesheet" href="./dist/css/animsition.min.css">





      <style>
      body {
        background: #000;
      }

      .text-spider{
        color: #ff0000;
        text-shadow: 2px 1px 1px #F7FF0D;
      }

      .text-yellow{
        color: #FFD700;

      }

      .text-red{
        color: #ff0000;

      }

      .img-thumbnail {
    background-color: #ff0000;
    border: 1px solid #FFD700;
  }

      a, a:hover, a:visited, .page-link:hover {
        color: #FFD700;
      }

      canvas{
      	background-color: transparent;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -10;
      }


    </style>

  <script>
    window.console = window.console || function(t) {};

    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage("resize", "*");
    }
  </script>

</head>

<body translate="no">

      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg animsition navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item ">
                <a class="nav-link" href="index.html">Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Regolamento</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="gallery.html">Gallery
                  <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Page Content -->
      <div class="container">
        <canvas id="screen" ></canvas>

        </br>
        <div>
          <btn class="btn btn-lg btn-block btn-danger text-yellow animsition animsition-link">PARTECIPA AL CONCORSO</btn>
        </div>
        <hr/>
        <div class="bg-dark animsition">
          <h1 class="font-weight-light text-center text-center text-spider" >
            TUTTE LE FAN ART
          </h1>
        </div>
          <hr class="mt-2 mb-5">

          <div class="row text-center text-lg-left">

            <div class="col-lg-3 col-md-4 col-6">
              <a href="dettaglio.html" class="d-block animsition animsition-link mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="poster/fb/p2.jpg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="dettaglio.html" class="d-block animsition animsition-link mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="poster/fb/p2.jpg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="dettaglio.html" class="d-block animsition animsition-link mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="poster/fb/p2.jpg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="dettaglio.html" class="d-block animsition animsition-link mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="poster/fb/p2.jpg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="dettaglio.html" class="d-block animsition animsition-link mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="poster/fb/p2.jpg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="dettaglio.html" class="d-block animsition animsition-link mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="poster/fb/p2.jpg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="dettaglio.html" class="d-block animsition animsition-link mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="poster/fb/p2.jpg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="dettaglio.html" class="d-block animsition animsition-link mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="poster/fb/p2.jpg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="dettaglio.html" class="d-block animsition animsition-link mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="poster/fb/p2.jpg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="dettaglio.html" class="d-block animsition animsition-link mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="poster/fb/p2.jpg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="dettaglio.html" class="d-block animsition animsition-link mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="poster/fb/p2.jpg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="dettaglio.html" class="d-block animsition animsition-link mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="poster/fb/p2.jpg" alt="">
                  </a>
            </div>
          </div>
          <nav aria-label="Page navigation example animsition" >
            <ul class="pagination justify-content-center" >
              <li class="page-item disabled" >
                <a class="page-link text-yellow" style="background:red" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link text-yellow" style="background:red" href="#">1</a></li>
              <li class="page-item"><a class="page-link text-yellow" style="background:red" href="#">2</a></li>
              <li class="page-item"><a class="page-link text-yellow" style="background:red" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link text-yellow" style="background:red" href="#">Next</a>
              </li>
            </ul>
          </nav>

          <!-- /.container -->
          <section  >
            <div class="row text-center text-lg-left animsition">

              <div class="col-lg-12 col-md-12 text-center col-12">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DYYtuKyMtY8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </section>
        </div>


      <!-- Footer -->
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-spider">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
      </footer>

      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- animsition.js -->
      <script src="./dist/js/animsition.min.js"></script>



                <script id="rendered-js">
                  // Code by Matheus Lin
            // Spider webs using canvas arcTo function

            // Color utils forked from http://andreasstorm.com/
            // (or someone who forked from there)

            function Color(min) {
              min = min || 0;
              this.r = 255;
              this.g = 225;
              this.b = 225;
              this.style = createColorStyle(this.r, this.g, this.b);
            };

            function colorValue(min) {
              return Math.floor(Math.random() * 255 + min);
            }

            function createColorStyle(r, g, b) {
              return 'rgba(' + r + ',' + g + ',' + b + ', 1)'; // originally, this alpha was 0.8
            }

            // Dist function
            function d2Dist(p1, p2) {
              var dx = p1.px - p2.px;
              var dy = p1.py - p2.py;
              return Math.sqrt(dx * dx + dy * dy);
            }

            function Controller() {
              var self = this;
              self.canvas = document.getElementById("screen");
              self.ctx = self.canvas.getContext('2d');

              self.drawCurve = function (control, p1, p2, radius) {
                var ctx = self.ctx;
                ctx.beginPath();
                ctx.moveTo(p1.px, p1.py);
                ctx.arcTo(control.px, control.py, p2.px, p2.py, radius);
                ctx.lineWidth = 1;
                ctx.strokeStyle = self.color.style;
                ctx.stroke();
              };

              self.drawLine = function (control, p) {
                var ctx = self.ctx;
                ctx.beginPath();
                ctx.moveTo(control.px, control.py);
                ctx.lineTo(p.px, p.py);
                ctx.lineWidth = 0.1;
                ctx.strokeStyle = self.color.style;
                ctx.stroke();
              };

              self.drawNext = function (part) {
                part.func(part.control, part.p1, part.p2, part.radius);
              };

              self.drawPart = function () {
                if (self.objectsToDraw.length > 0) {
                  self.lastRequestId = requestAnimationFrame(function () {
                    self.drawNext(self.objectsToDraw.shift());
                    self.drawPart();
                    // self.color = new Color(64); // Uncomment to a colorful web!
                  });
                }
              };

              self.shuffleArray = function (target) {
                var auxArray = [];
                while (target.length > 0) {
                  auxArray.push(target.shift());
                }

                while (auxArray.length > 0) {
                  var n = Math.floor(Math.random() * auxArray.length);
                  for (var i = 0; i < n; i++) {
                    auxArray.push(auxArray.shift());
                  }
                  var x = auxArray.shift();
                  //if(Math.random() * 100 >= 30){    // uncomment those (and line 134) to make a flawed web
                  target.push(x);
                  //}                                 // uncomment those (and line 134) to make a flawed web
                }
              };

              self.drawWebByParts = function () {
                self.ctx.clearRect(0, 0, self.screenWidth, self.screenHeight);
                var controlPoint = { px: self.screenWidth / 2, py: self.screenHeight / 2 };
                var outerRadius = Math.min(self.screenWidth / 2, self.screenHeight / 2) + 300;

                var nLines = 18;
                var deltaAngle = 360 / nLines;
                var degree = Math.PI / 180;

                var points = [];
                for (var i = 0; i < nLines; i++) {
                  points.push({
                    px: controlPoint.px + outerRadius * Math.cos(i * deltaAngle * degree),
                    py: controlPoint.py + outerRadius * Math.sin(i * deltaAngle * degree) });

                }

                var linesToDraw = [];
                for (var i = 0; i < points.length; i++) {
                  linesToDraw.push({
                    control: controlPoint,
                    p1: points[i],
                    func: self.drawLine });

                }

                // self.shuffleArray(linesToDraw); // shuffle lines drawn

                var nArcs = 18;
                var dist = d2Dist(points[0], points[1]) / 2;
                var deltaRadius = dist / nArcs;

                var arcsToDraw = [];
                for (var j = 1; j <= nArcs; j++) {
                  for (var i = 0; i < points.length; i++) {
                    var p1 = points[i % points.length];
                    var p2 = points[(i + 1) % points.length];

                    arcsToDraw.push({
                      control: controlPoint,
                      p1: p1,
                      p2: p2,
                      radius: j * deltaRadius,
                      func: self.drawCurve });

                  }
                }
                // self.shuffleArray(arcsToDraw); // shuffle arcs order

                self.objectsToDraw = [];
                while (linesToDraw.length > 0) {
                  self.objectsToDraw.push(linesToDraw.shift());
                }

                while (arcsToDraw.length > 0) {
                  self.objectsToDraw.push(arcsToDraw.shift());
                }

                self.drawPart();
              };

              self.resize = function () {
                self.screenWidth = window.innerWidth;
                self.screenHeight = window.innerHeight;

                self.canvas.width = self.screenWidth-20;
                self.canvas.height = self.screenHeight;

                window.cancelAnimationFrame(self.lastRequestId);
                self.drawWebByParts();
              };

              self.init = function () {
                window.onresize = self.resize;
                self.color = new Color(4); // Change this value to see a colorful Web
                self.resize();
              };
            }

            var controller = new Controller();
            controller.init();
            // controller.drawWebByParts();
                  //# sourceURL=pen.js


                                                $(document).ready(function() {
                                      $(".animsition").animsition({
                                        inClass: 'fade-in',
                                        outClass: 'fade-out',
                                        inDuration: 1500,
                                        outDuration: 800,
                                        linkElement: '.animsition-link animsition',
                                        // e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
                                        loading: true,
                                        loadingParentElement: 'body', //animsition wrapper element
                                        loadingClass: 'animsition-loading',
                                        loadingInner: '', // e.g '<img src="loading.svg" />'
                                        timeout: false,
                                        timeoutCountdown: 5000,
                                        onLoadEvent: true,
                                        browser: [ 'animation-duration', '-webkit-animation-duration'],
                                        // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
                                        // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
                                        overlay : false,
                                        overlayClass : 'animsition-overlay-slide',
                                        overlayParentElement : 'body',
                                        transition: function(url){ window.location.href = url; }
                                      });
                                    });

                </script>

    </body>

    </html>
