---
import Layout from "../layouts/Layout.astro";
import Customers from "../components/Customers.astro";
import Header from "../components/Header.astro";
---

<Layout
  title="coders51 - We design, build and evolve scalable software platforms"
>
  <Header />
  <!-- Home -->
  <div id="home" class="hero-area">
    <!-- Backgound Image -->
    <div
      class="bg-image bg-parallax overlay"
      style="background-image:url(/img/home-background.png)"
    >
    </div>
    <!-- /Backgound Image -->

    <div class="home-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="white-text">
              We help companies in designing, building and scaling their <i
                >ambitious</i
              > software
            </h1>
            <p class="lead white-text">
              A team of software experts with technological leadership and a
              consulting partner for the management and governance of complex
              software architectures
            </p>
            <a class="main-button icon-button" href="#whatwedo"
              >What we can do for you</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Home -->

  <!-- About -->
  <div id="whoweare" class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h1>Who we are</h1>
          </div>
        </div>
      </div>
      <!-- row -->
      <!-- row -->
      <div class="row">
        <div class="col-md-6">
          <p class="lead">
            coders51 is a team of software experts with technological leadership
            and a consulting partner for the management and governance of
            complex software architectures.
            <br />
            <br />
            The ideal scenario in which we operate is that of software products with
            a high level of innovation and uncertainty, where rigorous discipline
            and risk management methodology can make the difference.
          </p>
        </div>
        <div class="col-md-6">
          <p class="lead">
            We are experts, not only developers: we have a high level of
            seniority that unites technical operational skills with experience
            of managing highly-complex software architectures, regulated by a
            rigid and binding professional code of conduct.
            <br />
            <br />
            We are partners, not service providers: we find value in being called
            into question and calling others into question. Our process involves
            directness and the freedom to discuss.
          </p>
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->

  <!-- /About -->

  <!-- About -->
  <div id="whatwedo" class="section blue">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h1>What we do</h1>
            <br />
            <h3>Design, develop and scale software platforms</h3>
            <p class="lead">
              coders51 helps enterprises and startups in designing, building and
              scaling their software platforms. Our advanced knowledge goes from
              web and mobile to IoT and desktop programming.
              <br />
              Although we are not bound to a specific technology or programming language,
              we prefer technologies that allow us to build solid, fast and scalable
              platforms over time. That's why we're member of the <a
                target="_blank"
                href="https://erlef.org/">Erlang Ecosystem Foundation</a
              > and Elixir and Erlang are our first choice when the scenario allows.
              <br />
              We also know and use NodeJS and Typescript on a daily basis as well
              as more traditional languages such as .NET or Java.
            </p>
            <br />
            <h3>From legacy software to Cloud Native and Microservices</h3>
            <p class="lead">
              We help companies to transition their monolith legacy software to
              manageable and scalable software. We work with the customer's team
              to modernize their platforms supporting them in growing and
              transforming the old legacy unreliable software into a modern,
              Cloud Native and scalable one. We help our customers embrace new
              architectural patterns like microservices, deploy on modern
              infrastructure like K8s in the Cloud and keep everything running
              reliably.
            </p>
            <br />
            <h3>RabbitMQ consultancy, support and maintenance</h3>
            <p class="lead">
              RabbitMQ is a tool that we consider fundamental in any distributed
              architecture and that we use in most of the software we work on.
              Also, since RabbitMQ is written in Erlang, we deeply understand
              its internals and functioning.
              <br />
              coders51 supports companies in designing the correct queues architecture,
              building resilient clients and maintaining cluster healthiness.
            </p>
            <br />
            <h3>Training</h3>
            <p class="lead">
              We work with our customers in widening their internal competences
              offering a rich catalogue of training. From Domain Driven Design
              to Agile Methodologies, from Test Driven Development to
              Refactoring Legacy Code we can help our customers' teams to grow
              by improving their performance and the quality of the software
              they write.
            </p>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /About -->

  <Customers />

  <div id="community" class="section grey">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-header">
            <h1>Community</h1>
            <p class="lead">
              coders51 continues to promote several initiatives involving both
              local and global software communities. We are active members of <a
                target="_blank"
                href="https://www.linkedin.com/company/xpugbo/">XPUG Bologna</a
              > both as co-organizers, supporters and spekers.
              <br />
              We also created <a
                target="_blank"
                href="https://www.italian-elixir.org/"
                >Italian Elixir & Erlang Community</a
              > to promote events and meetups concerning the BEAM ecosystem.
              <br />
              Also in 2019 we were co-organizers and hosts of <a
                target="_blank"
                href="https://codesync.global/conferences/code-beam-lite-italy/"
                >Code Beam Lite Italy</a
              > in Bologna together with <a
                target="_blank"
                href="https://codesync.global">Code Sync</a
              >.
            </p>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
</Layout>
