---
import Layout from "../layouts/Layout.astro";
import Customers from "../components/Customers.astro";

import "../assets/styles/rabbitmq.scss";
import Header from "../components/Header.astro";
import "../assets/styles/theme/theme.css";
import "../assets/styles/theme/basic.css";
import "../assets/styles/theme/et-core.css";
import "../assets/styles/theme/et-divi.css";
import "../assets/styles/theme/et-inline.css";
---

<Layout
  title="RabbitMQ: perfetto per applicazioni Mission-Critical - Coders51 Sviluppo Software"
>
  <Header hideNav />
  <article id="page-container" class="rabbitmq article-body et_pb_gutters3">
    <div
      class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular"
    >
      <div class="et_pb_row et_pb_row_0">
        <div
          class="et_pb_column et_pb_column_1_2 et_pb_column_0 et_pb_css_mix_blend_mode_passthrough"
        >
          <div
            class="et_pb_module et_pb_text et_pb_text_0 et_pb_text_align_left et_pb_bg_layout_dark"
          >
            <div class="et_pb_text_inner">
              <h2>
                RabbitMQ: affidabile, scalabile, open source. Perfetto per
                applicazioni mission-critical.
              </h2>
            </div>
          </div>
          <div
            class="et_pb_module et_pb_text et_pb_text_1 et_pb_text_align_left et_pb_bg_layout_dark"
          >
            <div class="et_pb_text_inner">
              RabbitMQ è uno dei broker di messaggi open source più utilizzati,
              considerato affidabile da alcune delle più grandi aziende del
              mondo con casi studio in Bloomberg, Adidas, Reddit e Trivago.
              RabbitMQ è perfetto per l’uso come livello di routing avanzato per
              microservizi.
            </div>
          </div><div class="et_pb_module et_pb_code et_pb_code_0">
            <div class="et_pb_code_inner">
              <a name="form">&nbsp;</a>
            </div>
          </div>
        </div>
        <div
          class="et_pb_column et_pb_column_1_2 et_pb_column_1 et_pb_css_mix_blend_mode_passthrough et-last-child"
        >
          <div class="et_pb_module et_pb_code et_pb_code_1">
            <div class="et_pb_code_inner">
              <div
                class="gf_browser_chrome gform_wrapper gravity-theme gform-theme--no-framework"
                data-form-theme="gravity-theme"
                data-form-index="0"
                id="gform_wrapper_3"
              >
                <div class="gform_heading">
                  <h2 class="gform_title">
                    Sei interessato a RabbitMQ? (head)
                  </h2>
                  <p class="gform_description"></p>
                </div><form
                  method="post"
                  enctype="multipart/form-data"
                  id="gform_3"
                  action="/rabbitmq-applicazioni-mission-critical/"
                  data-formid="3"
                  novalidate=""
                  data-hs-cf-bound="true"
                >
                  <div class="gform-body gform_body">
                    <div
                      id="gform_fields_3"
                      class="gform_fields top_label form_sublabel_below description_below validation_below"
                    >
                      <div
                        id="field_3_5"
                        class="gfield gfield--type-email gfield--width-full gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible"
                        data-js-reload="field_3_5"
                      >
                        <label
                          class="gfield_label gform-field-label"
                          for="input_3_5"
                          >Email<span class="gfield_required"
                            ><span class="gfield_required gfield_required_text"
                              >(Obbligatorio)</span
                            ></span
                          ></label
                        ><div class="ginput_container ginput_container_email">
                          <input
                            name="input_5"
                            id="input_3_5"
                            type="email"
                            value=""
                            class="large"
                            aria-required="true"
                            aria-invalid="false"
                          />
                        </div>
                      </div><div
                        id="field_3_3"
                        class="gfield gfield--type-text gfield--width-full gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible"
                        data-js-reload="field_3_3"
                      >
                        <label
                          class="gfield_label gform-field-label"
                          for="input_3_3"
                          >Nome<span class="gfield_required"
                            ><span class="gfield_required gfield_required_text"
                              >(Obbligatorio)</span
                            ></span
                          ></label
                        ><div class="ginput_container ginput_container_text">
                          <input
                            name="input_3"
                            id="input_3_3"
                            type="text"
                            value=""
                            class="large"
                            aria-required="true"
                            aria-invalid="false"
                          />
                        </div>
                      </div><div
                        id="field_3_4"
                        class="gfield gfield--type-text gfield--width-full gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible"
                        data-js-reload="field_3_4"
                      >
                        <label
                          class="gfield_label gform-field-label"
                          for="input_3_4"
                          >Cognome<span class="gfield_required"
                            ><span class="gfield_required gfield_required_text"
                              >(Obbligatorio)</span
                            ></span
                          ></label
                        ><div class="ginput_container ginput_container_text">
                          <input
                            name="input_4"
                            id="input_3_4"
                            type="text"
                            value=""
                            class="large"
                            aria-required="true"
                            aria-invalid="false"
                          />
                        </div>
                      </div><div
                        id="field_3_8"
                        class="gfield gfield--type-select gfield--width-full gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible"
                        data-js-reload="field_3_8"
                      >
                        <label
                          class="gfield_label gform-field-label"
                          for="input_3_8"
                          >Il tuo lavoro<span class="gfield_required"
                            ><span class="gfield_required gfield_required_text"
                              >(Obbligatorio)</span
                            ></span
                          ></label
                        ><div class="ginput_container ginput_container_select">
                          <select
                            name="input_8"
                            id="input_3_8"
                            class="large gfield_select"
                            aria-required="true"
                            aria-invalid="false"
                            value="CTO"
                            ><option value="CTO">CTO</option><option value="CEO"
                              >CEO</option
                            ><option value="Tech Leader">Tech Leader</option
                            ><option value="Software Architect"
                              >Software Architect</option
                            ><option value="Developer">Developer</option><option
                              value="Altro">Altro</option
                            ></select
                          >
                        </div>
                      </div><div
                        id="field_3_11"
                        class="gfield gfield--type-hidden gfield--width-full gform_hidden field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible"
                        data-js-reload="field_3_11"
                      >
                        <div class="ginput_container ginput_container_text">
                          <input
                            name="input_11"
                            id="input_3_11"
                            type="hidden"
                            class="gform_hidden"
                            aria-invalid="false"
                            value="RabbitMQ"
                          />
                        </div>
                      </div><fieldset
                        id="field_3_10"
                        class="gfield gfield--type-consent gfield--type-choice gfield--input-type-consent gfield_contains_required field_sublabel_below gfield--no-description field_description_below field_validation_below gfield_visibility_visible"
                        data-js-reload="field_3_10"
                      >
                        <legend
                          class="gfield_label gform-field-label gfield_label_before_complex"
                          >Consenso<span class="gfield_required"
                            ><span class="gfield_required gfield_required_text"
                              >(Obbligatorio)</span
                            ></span
                          ></legend
                        ><div class="ginput_container ginput_container_consent">
                          <input
                            name="input_10.1"
                            id="input_3_10_1"
                            type="checkbox"
                            value="1"
                            aria-required="true"
                            aria-invalid="false"
                          />
                          <label
                            class="gform-field-label gform-field-label--type-inline gfield_consent_label"
                            for="input_3_10_1"
                            >Do il consenso al trattamento dei miei dati come
                            indicato nella Privacy Policy del sito web.</label
                          ><input
                            type="hidden"
                            name="input_10.2"
                            value="Do il consenso al trattamento dei miei dati come indicato nella Privacy Policy del sito web."
                            class="gform_hidden"
                          /><input
                            type="hidden"
                            name="input_10.3"
                            value="5"
                            class="gform_hidden"
                          />
                        </div>
                      </fieldset><div
                        id="field_3_12"
                        class="gfield gfield--type-honeypot gform_validation_container field_sublabel_below gfield--has-description field_description_below field_validation_below gfield_visibility_visible"
                        data-js-reload="field_3_12"
                      >
                        <label
                          class="gfield_label gform-field-label"
                          for="input_3_12">Email</label
                        ><div class="ginput_container">
                          <input
                            name="input_12"
                            id="input_3_12"
                            type="text"
                            value=""
                            autocomplete="new-password"
                          />
                        </div><div
                          class="gfield_description"
                          id="gfield_description_3_12"
                        >
                          Questo campo serve per la convalida e dovrebbe essere
                          lasciato inalterato.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="gform_footer top_label">
                    <input
                      type="submit"
                      id="gform_submit_button_3"
                      class="gform_button button"
                      value="Invia"
                      onclick='if(window["gf_submitting_3"]){return false;}  if( !jQuery("#gform_3")[0].checkValidity || jQuery("#gform_3")[0].checkValidity()){window["gf_submitting_3"]=true;}  '
                      onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_3"]){return false;} if( !jQuery("#gform_3")[0].checkValidity || jQuery("#gform_3")[0].checkValidity()){window["gf_submitting_3"]=true;}  jQuery("#gform_3").trigger("submit",[true]); }'
                    />
                    <input
                      type="hidden"
                      class="gform_hidden"
                      name="is_submit_3"
                      value="1"
                    />
                    <input
                      type="hidden"
                      class="gform_hidden"
                      name="gform_submit"
                      value="3"
                    />

                    <input
                      type="hidden"
                      class="gform_hidden"
                      name="gform_unique_id"
                      value=""
                    />
                    <input
                      type="hidden"
                      class="gform_hidden"
                      name="state_3"
                      value="WyJ7XCI4XCI6W1wiZmI5NWRjNmJlNDUxYzE1YzA1NjRlNDRiYzNkNWFlMTdcIixcImFmZTdiMzFmNTk4NGJiZjg4YWU0MjZiNjFlMDMwNzVmXCIsXCJkMjdkODk2YWY5YjdjNjA3YzE2NWQ0NjdkOWY4YmUzNlwiLFwiYjM5YWNiNjE0ZTZlMGRjZmE1MzM3MTIxYjk1MzQyNGRcIixcIjg2NTVhODlhYzAzNTZjYWI2MmY4ZWQzOTZlZGQ2MjA5XCIsXCI2Y2MwNTVmMGNiNGQ3MjIwOWYxNDM5N2YyNzFmNWVkNlwiXSxcIjEwLjFcIjpcIjAzYzlkMGM5NTIxZjE0YTY5NDg2OGJhNjU2ZDA0Njk3XCIsXCIxMC4yXCI6XCI3MzFmNWJjN2NlN2MxYzExMWE2ZjgwZmFmZmZlY2EyNlwiLFwiMTAuM1wiOlwiMWY1Y2MwNDBhZjJiZTI5MDhkYzI4NzhhYmU2MzE3NDZcIn0iLCJmOWRmNzM4ZTdlMjlhNzY1NzdhNDNhZDlkOWNlZjM4YSJd"
                    />
                    <input
                      type="hidden"
                      class="gform_hidden"
                      name="gform_target_page_number_3"
                      id="gform_target_page_number_3"
                      value="0"
                    />
                    <input
                      type="hidden"
                      class="gform_hidden"
                      name="gform_source_page_number_3"
                      id="gform_source_page_number_3"
                      value="1"
                    />
                    <input type="hidden" name="gform_field_values" value="" />
                  </div>
                </form>
              </div>
              <script type="text/javascript">
                /* <![CDATA[ */
                // gform.initializeOnLoaded(function () {
                //   gformInitSpinner(
                //     3,
                //     "https://ads.coders51.com/wp-content/plugins/gravityforms/images/spinner.svg",
                //     true
                //   );
                //   jQuery("#gform_ajax_frame_3").on("load", function () {
                //     var contents = jQuery(this)
                //       .contents()
                //       .find("*")
                //       .html();
                //     var is_postback =
                //       contents.indexOf("GF_AJAX_POSTBACK") >= 0;
                //     if (!is_postback) {
                //       return;
                //     }
                //     var form_content = jQuery(this)
                //       .contents()
                //       .find("#gform_wrapper_3");
                //     var is_confirmation =
                //       jQuery(this)
                //         .contents()
                //         .find("#gform_confirmation_wrapper_3").length > 0;
                //     var is_redirect =
                //       contents.indexOf("gformRedirect(){") >= 0;
                //     var is_form =
                //       form_content.length > 0 &&
                //       !is_redirect &&
                //       !is_confirmation;
                //     var mt =
                //       parseInt(jQuery("html").css("margin-top"), 10) +
                //       parseInt(jQuery("body").css("margin-top"), 10) +
                //       100;
                //     if (is_form) {
                //       jQuery("#gform_wrapper_3").html(
                //         form_content.html()
                //       );
                //       if (
                //         form_content.hasClass("gform_validation_error")
                //       ) {
                //         jQuery("#gform_wrapper_3").addClass(
                //           "gform_validation_error"
                //         );
                //       } else {
                //         jQuery("#gform_wrapper_3").removeClass(
                //           "gform_validation_error"
                //         );
                //       }
                //       setTimeout(function () {
                //         /* delay the scroll by 50 milliseconds to fix a bug in chrome */
                //       }, 50);
                //       if (window["gformInitDatepicker"]) {
                //         gformInitDatepicker();
                //       }
                //       if (window["gformInitPriceFields"]) {
                //         gformInitPriceFields();
                //       }
                //       var current_page = jQuery(
                //         "#gform_source_page_number_3"
                //       ).val();
                //       gformInitSpinner(
                //         3,
                //         "https://ads.coders51.com/wp-content/plugins/gravityforms/images/spinner.svg",
                //         true
                //       );
                //       jQuery(document).trigger("gform_page_loaded", [
                //         3,
                //         current_page,
                //       ]);
                //       window["gf_submitting_3"] = false;
                //     } else if (!is_redirect) {
                //       var confirmation_content = jQuery(this)
                //         .contents()
                //         .find(".GF_AJAX_POSTBACK")
                //         .html();
                //       if (!confirmation_content) {
                //         confirmation_content = contents;
                //       }
                //       jQuery("#gform_wrapper_3").replaceWith(
                //         confirmation_content
                //       );
                //       jQuery(document).trigger(
                //         "gform_confirmation_loaded",
                //         [3]
                //       );
                //       window["gf_submitting_3"] = false;
                //       wp.a11y.speak(
                //         jQuery("#gform_confirmation_message_3").text()
                //       );
                //     } else {
                //       jQuery("#gform_3").append(contents);
                //       if (window["gformRedirect"]) {
                //         gformRedirect();
                //       }
                //     }
                //     jQuery(document).trigger("gform_pre_post_render", [
                //       {
                //         formId: "3",
                //         currentPage: "current_page",
                //         abort: function () {
                //           this.preventDefault();
                //         },
                //       },
                //     ]);
                //     if (event && event.defaultPrevented) {
                //       return;
                //     }
                //     const gformWrapperDiv =
                //       document.getElementById("gform_wrapper_3");
                //     if (gformWrapperDiv) {
                //       const visibilitySpan =
                //         document.createElement("span");
                //       visibilitySpan.id = "gform_visibility_test_3";
                //       gformWrapperDiv.insertAdjacentElement(
                //         "afterend",
                //         visibilitySpan
                //       );
                //     }
                //     const visibilityTestDiv = document.getElementById(
                //       "gform_visibility_test_3"
                //     );
                //     let postRenderFired = false;
                //     function triggerPostRender() {
                //       if (postRenderFired) {
                //         return;
                //       }
                //       postRenderFired = true;
                //       jQuery(document).trigger("gform_post_render", [
                //         3,
                //         current_page,
                //       ]);
                //       gform.utils.trigger({
                //         event: "gform/postRender",
                //         native: false,
                //         data: {
                //           formId: 3,
                //           currentPage: current_page,
                //         },
                //       });
                //       if (visibilityTestDiv) {
                //         visibilityTestDiv.parentNode.removeChild(
                //           visibilityTestDiv
                //         );
                //       }
                //     }
                //     function debounce(func, wait, immediate) {
                //       var timeout;
                //       return function () {
                //         var context = this,
                //           args = arguments;
                //         var later = function () {
                //           timeout = null;
                //           if (!immediate) func.apply(context, args);
                //         };
                //         var callNow = immediate && !timeout;
                //         clearTimeout(timeout);
                //         timeout = setTimeout(later, wait);
                //         if (callNow) func.apply(context, args);
                //       };
                //     }
                //     const debouncedTriggerPostRender = debounce(
                //       function () {
                //         triggerPostRender();
                //       },
                //       200
                //     );
                //     if (
                //       visibilityTestDiv &&
                //       visibilityTestDiv.offsetParent === null
                //     ) {
                //       const observer = new MutationObserver(
                //         (mutations) => {
                //           mutations.forEach((mutation) => {
                //             if (
                //               mutation.type === "attributes" &&
                //               visibilityTestDiv.offsetParent !== null
                //             ) {
                //               debouncedTriggerPostRender();
                //               observer.disconnect();
                //             }
                //           });
                //         }
                //       );
                //       observer.observe(document.body, {
                //         attributes: true,
                //         childList: false,
                //         subtree: true,
                //         attributeFilter: ["style", "class"],
                //       });
                //     } else {
                //       triggerPostRender();
                //     }
                //   });
                // });
                /* ]]&gt; */
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="et_pb_row et_pb_row_1">
        <div
          class="et_pb_column et_pb_column_1_2 et_pb_column_2 et_pb_css_mix_blend_mode_passthrough"
        >
          <div>
            <h2 class="no-margin-top">Come ti possiamo aiutare?</h2>
          </div>
          <div>
            <strong>Offriamo consigli chiari e approfonditi</strong>
            che coprono tutti gli aspetti della distribuzione di RabbitMQ, dall'architettura
            alla configurazione, all'integrazione anche in ambienti legacy o particolarmente
            complessi.<p></p>
            <p>
              Facciamo <strong
                >"health check" dei tuoi sistemi con RabbitMQ</strong
              >, per darti un parere esperto sul loro stato, su potenziali
              evoluzioni e indicandoti quali segnali tenere sotto controllo.
            </p>
            <p>
              Il nostro team darà <strong
                >consigli utili e di applicazione immediata</strong
              >. Non solo riusciremo a darti una visione più chiara dei vantaggi
              di RabbitMQ specifici per la tua attività, ma riceverai una
              panoramica delle situazioni da tenere sotto controllo per evitare
              problemi.
            </p>
            <p>
              Ti supporteremo dall'installazione alla studio architetturale,
              allo sviluppo, alla risoluzione dei problemi più complessi
              relativi a RabbitMQ. <em
                >Per iniziare a chiederci un parere, <a href="#"
                  >compila il form a fondo pagina.</a
                ></em
              >
            </p>
          </div>
        </div>
        <div
          class="et_pb_column et_pb_column_1_2 et_pb_column_3 et_pb_css_mix_blend_mode_passthrough et-last-child"
        >
          <div
            class="panel-group"
            id="accordion"
            role="tablist"
            aria-multiselectable="true"
          >
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    RabbitMQ Consulting
                  </a>
                </h4>
              </div>
              <div
                id="collapseOne"
                class="panel-collapse collapse in"
                role="tabpanel"
                aria-labelledby="headingOne"
              >
                <div class="panel-body">
                  <p>
                    Lavoriamo con te per <strong
                      >progettare e configurare la tua architettura</strong
                    > con RabbitMQ senza la necessità di rinnovare completamente
                    il tuo sistema esistente. I nostri esperti entrano nei tuoi progetti
                    dando consigli chiave ad alto impatto.
                    <em
                      ><a href="#" title="Fissa una call gratuita con noi!"
                        >Prenota un appuntamento</a
                      > per scoprire come possiamo aiutarti.</em
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a
                    class="collapsed"
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    RabbitMQ Supporto
                  </a>
                </h4>
              </div>
              <div
                id="collapseTwo"
                class="panel-collapse collapse"
                role="tabpanel"
                aria-labelledby="headingTwo"
              >
                <div class="panel-body">
                  Offriamo un supporto flessibile e completamente
                  personalizzabile, indipendentemente dalle dimensioni del
                  vostro sistema. Il nostro programma di supporto è costante,
                  senza interruzioni. Ti supporteremo dall'installazione alla
                  studio architetturale, allo sviluppo, alla risoluzione dei
                  problemi più complessi relativi a RabbitMQ. Siamo esperti di
                  Erlang riconosciuti! <em
                    >Scopri come possiamo aiutarti, <a
                      href="#"
                      title="Prenota una call gratuitamente!"
                      >prenota una videocall</a
                    > senza impegno!</em
                  >
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a
                    class="collapsed"
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    RabbitMQ Monitoring
                  </a>
                </h4>
              </div>
              <div
                id="collapseThree"
                class="panel-collapse collapse"
                role="tabpanel"
                aria-labelledby="headingThree"
              >
                <div class="panel-body">
                  Ti aiutiamo a installare e configurare gli strumenti necessari
                  per monitorare il tuo cluster in maniera efficiente sia on
                  premise che in cloud, utilizzando o meno Kubernetes.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="et_pb_section et_pb_section_4 et_pb_with_background et_section_regular"
    >
      <div class="et_pb_row et_pb_row_2">
        <div
          class="et_pb_column et_pb_column_1_2 et_pb_column_4 et_pb_css_mix_blend_mode_passthrough"
        >
          <div
            class="et_pb_module et_pb_text et_pb_text_4 et_pb_text_align_left et_pb_bg_layout_dark"
          >
            <div class="et_pb_text_inner"><h2>Perché coders51?</h2></div>
          </div><div
            class="et_pb_module et_pb_text et_pb_text_5 et_pb_text_align_left et_pb_bg_layout_dark"
          >
            <div class="et_pb_text_inner">
              <p>
                <strong>Identifichiamo velocemente gli scenari critici</strong> dei
                tuoi sistemi, ti guidiamo o provvediamo direttamente alla risoluzione
                delle problematche in maniera evolutiva, mai fini a loro stesse.
              </p>
              <p>
                Guidiamo i clienti nella <strong
                  >scelta delle priorità di sviluppo</strong
                >, tenendo conto delle ottimizzazioni possibili in fattori come
                costi ed urgenza o criticità del progetto.
              </p>
              <p>
                Identifichiamo e perseguiamo, ogni volta, vie di implementazione
                o risoluzione problemi per step, in modo da <strong
                  >non stravolgere il lavoro quotidiano dei clienti</strong
                > e dei team di sviluppo.
              </p>
            </div>
          </div>
        </div><div
          class="et_pb_column et_pb_column_1_2 et_pb_column_5 et_pb_css_mix_blend_mode_passthrough et-last-child"
        >
          <div
            class="et_pb_module et_pb_text et_pb_text_6 et_pb_text_align_left et_pb_bg_layout_light"
          >
            <div class="et_pb_text_inner">
              <h3>Scalabilità, Resilienza, Sicurezza!</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="et_pb_section et_pb_section_6 et_section_regular">
      <div class="et_pb_row et_pb_row_3">
        <div
          class="et_pb_column et_pb_column_4_4 et_pb_column_6 et_pb_css_mix_blend_mode_passthrough et-last-child"
        >
          <div
            class="et_pb_module et_pb_text et_pb_text_7 et_pb_text_align_left et_pb_bg_layout_light"
          >
            <div class="et_pb_text_inner">
              <h2 style="text-align: center;">Vantaggi di RabbitMQ</h2>
            </div>
          </div>
        </div>
      </div><div class="et_pb_row et_pb_row_4 et_pb_equal_columns">
        <div
          class="et_pb_column et_pb_column_1_3 et_pb_column_7 et_pb_css_mix_blend_mode_passthrough"
        >
          <div
            class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_0 et_pb_text_align_left et_pb_blurb_position_left et_pb_bg_layout_light"
          >
            <div class="et_pb_blurb_content">
              <div class="et_pb_main_blurb_image">
                <span class="et_pb_image_wrap"
                  ><i class="fa-solid fa-lock"></i></span
                >
              </div>
              <div class="et_pb_blurb_container">
                <h4 class="et_pb_module_header"><span>Sicurezza</span></h4>
                <div class="et_pb_blurb_description">
                  <p>
                    Code e flussi replicati, clustering, federation, tengono i
                    tuoi messaggi al sicuro.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div><div
          class="et_pb_column et_pb_column_1_3 et_pb_column_8 et_pb_css_mix_blend_mode_passthrough"
        >
          <div
            class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_1 et_pb_text_align_left et_pb_blurb_position_left et_pb_bg_layout_light"
          >
            <div class="et_pb_blurb_content">
              <div class="et_pb_main_blurb_image">
                <span class="et_pb_image_wrap"
                  ><span
                    class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-animated"
                    ></span
                  ></span
                >
              </div>
              <div class="et_pb_blurb_container">
                <h4 class="et_pb_module_header"><span>Scalabilità</span></h4>
                <div class="et_pb_blurb_description">
                  Ottimizza e scala la tua architettura a Microservizi in
                  maniera facile e veloce.
                </div>
              </div>
            </div>
          </div>
        </div><div
          class="et_pb_column et_pb_column_1_3 et_pb_column_9 et_pb_css_mix_blend_mode_passthrough et-last-child"
        >
          <div
            class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_2 et_pb_text_align_left et_pb_blurb_position_left et_pb_bg_layout_light"
          >
            <div class="et_pb_blurb_content">
              <div class="et_pb_main_blurb_image">
                <span class="et_pb_image_wrap"
                  ><span
                    class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-animated"
                    ></span
                  ></span
                >
              </div>
              <div class="et_pb_blurb_container">
                <h4 class="et_pb_module_header"><span>Deliverability</span></h4>
                <div class="et_pb_blurb_description">
                  Persistenza, publish confirmation, prefetch e high
                  availability.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><div class="et_pb_row et_pb_row_5 et_pb_equal_columns">
        <div
          class="et_pb_column et_pb_column_1_3 et_pb_column_10 et_pb_css_mix_blend_mode_passthrough"
        >
          <div
            class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_3 et_pb_text_align_left et_pb_blurb_position_left et_pb_bg_layout_light"
          >
            <div class="et_pb_blurb_content">
              <div class="et_pb_main_blurb_image">
                <span class="et_pb_image_wrap"
                  ><span
                    class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-animated"
                    ></span
                  ></span
                >
              </div>
              <div class="et_pb_blurb_container">
                <h4 class="et_pb_module_header">
                  <span>Easy Management</span>
                </h4>
                <div class="et_pb_blurb_description">
                  HTTP-API, command line tool ed anche UI nativa per managing
                  &amp; monitoring.
                </div>
              </div>
            </div>
          </div>
        </div><div
          class="et_pb_column et_pb_column_1_3 et_pb_column_11 et_pb_css_mix_blend_mode_passthrough"
        >
          <div
            class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_4 et_pb_text_align_left et_pb_blurb_position_left et_pb_bg_layout_light"
          >
            <div class="et_pb_blurb_content">
              <div class="et_pb_main_blurb_image">
                <span class="et_pb_image_wrap"
                  ><span
                    class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-animated"
                    ></span
                  ></span
                >
              </div>
              <div class="et_pb_blurb_container">
                <h4 class="et_pb_module_header">
                  <span>Rapida implementazione</span>
                </h4>
                <div class="et_pb_blurb_description">
                  <p>
                    RabbitMQ permette una veloce implementazione e gestione di
                    sistemi a Microservizi.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div><div
          class="et_pb_column et_pb_column_1_3 et_pb_column_12 et_pb_css_mix_blend_mode_passthrough et-last-child"
        >
          <div
            class="et_pb_with_border et_pb_module et_pb_blurb et_pb_blurb_5 et_pb_text_align_left et_pb_blurb_position_left et_pb_bg_layout_light"
          >
            <div class="et_pb_blurb_content">
              <div class="et_pb_main_blurb_image">
                <span class="et_pb_image_wrap"
                  ><span
                    class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon et-animated"
                    ></span
                  ></span
                >
              </div>
              <div class="et_pb_blurb_container">
                <h4 class="et_pb_module_header"><span>Affidabilità</span></h4>
                <div class="et_pb_blurb_description">
                  La massima affidabilità senza sacrificare le prestazioni dei
                  tuoi sistemi.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><div class="et_pb_row et_pb_row_6 et_pb_equal_columns">
        <div
          class="et_pb_column et_pb_column_1_3 et_pb_column_13 et_pb_css_mix_blend_mode_passthrough et_pb_column_empty"
        >
        </div><div
          class="et_pb_column et_pb_column_1_3 et_pb_column_14 et_pb_css_mix_blend_mode_passthrough"
        >
          <div
            class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module"
          >
            <a
              class="et_pb_button et_pb_button_0 et_pb_bg_layout_dark"
              href="#form">Scopri cosa può fare per te!</a
            >
          </div>
        </div><div
          class="et_pb_column et_pb_column_1_3 et_pb_column_15 et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty"
        >
        </div>
      </div>
    </div>

    <Customers />
  </article>
</Layout>
