<div id="customers" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Success stories</h1>
        <p class="lead">
          Our range of customers includes enterprises and startups with or
          without specific technical know-how and developers aiming at improving
          their methods.
        </p>
        <br />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="success-stories-wrapper">
          <div class="success-stories-content">
            <div class="success-story">
              <a
                href="https://www.alperia.eu/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="/img/success-stories/alperia.svg"
                  title="Alperia"
                  alt="Alperia"
                />
              </a>
            </div>
            <div class="success-story">
              <a
                href="https://www.ancorotticosmetics.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="/img/success-stories/ancorotti.png"
                  title="Ancorotti"
                  alt="Ancorotti"
                />
              </a>
            </div>
            <div class="success-story">
              <a
                href="https://www.anticipay.it"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="/img/success-stories/anticipay.svg"
                  title="Anticipay"
                  alt="Anticipay"
                />
              </a>
            </div>
            <div class="success-story">
              <a
                href="https://www.arcassicura.it/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="/img/success-stories/arca.svg"
                  title="Arca Assicurazioni"
                  alt="Arca Assicurazioni"
                />
              </a>
            </div>
            <div class="success-story">
              <a
                href="https://casavo.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  class="casavo"
                  src="/img/success-stories/casavo.svg"
                  title="Casavo"
                  alt="Casavo"
                />
              </a>
            </div>
            <div class="success-story">
              <a
                href="https://cesarine.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  class="cesarine"
                  src="/img/success-stories/cesarine_2.svg"
                  title="Cesarine"
                  alt="Cesarine"
                />
              </a>
            </div>
            <div class="success-story">
              <a
                href="https://corvina.io/it/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="/img/success-stories/corvina.svg"
                  title="Corvina"
                  alt="Corvina"
                />
              </a>
            </div>
            <div class="success-story">
              <a
                href="https://www.endu.net/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="/img/success-stories/endu.png"
                  title="Endu"
                  alt="Endu"
                />
              </a>
            </div>
            <div class="success-story">
              <a
                href="https://www.fluida.io"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="/img/success-stories/fluida.svg"
                  title="Fluida"
                  alt="Fluida"
                />
              </a>
            </div>
            <div class="success-story">
              <a
                href="https://www.hpe.com/it"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img src="/img/success-stories/hpe.png" title="HPE" alt="HPE" />
              </a>
            </div>
            <div class="success-story">
              <a
                href="https://www.mfemediaforeurope.com/it/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="/img/success-stories/mediaset.png"
                  title="Mediaset"
                  alt="Mediaset"
                />
              </a>
            </div>
            <div class="success-story">
              <a
                href="https://www.h-farm.com/en"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="/img/success-stories/h-farm.png"
                  title="H-Farm"
                  alt="H-Farm"
                />
              </a>
            </div>
            <div class="success-story">
              <a
                href="https://orkestro.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="/img/success-stories/orkestro_transparent.png"
                  title="Orkestro"
                  alt="Orkestro"
                />
              </a>
            </div>
            <div class="success-story">
              <a
                href="https://www.technacy.it"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="/img/success-stories/technacy.png"
                  title="Technacy"
                  alt="Technacy"
                />
              </a>
            </div>
            <div class="success-story">
              <a
                href="https://www.uhubs.co.uk/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="/img/success-stories/uhubs.svg"
                  title="Uhubs"
                  alt="Uhubs"
                />
              </a>
            </div>
            <div class="success-story">
              <a
                href="https://www.zucchetti.it"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  style="height: 80px;"
                  src="/img/success-stories/zucchetti.svg"
                  title="Zucchetti"
                  alt="Zucchetti"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
