---
const { hideNav } = Astro.props;
---

<header id="header" class="transparent-nav">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        <a class="logo" href="/">
          <img src="/img/logo_white_big.png" alt="logo" />
        </a>
      </div>
      {
        hideNav || (
          <button class="navbar-toggle">
            <span />
          </button>
        )
      }
    </div>
    {
      hideNav || (
        <nav id="nav">
          <ul class="main-menu nav navbar-nav navbar-right">
            <li>
              <a href="#whoweare">Who we are</a>
            </li>
            <li>
              <a href="#whatwedo">What we do</a>
            </li>
            <li>
              <a href="#customers">Success Stories</a>
            </li>
            <li>
              <a href="#community">Community</a>
            </li>
            <li>
              <a href="https://blog.coders51.com">Blog</a>
            </li>
            <li>
              <a href="#tally-open=3E0LJl&tally-layout=modal&tally-width=800&tally-emoji-animation=none&tally-auto-close=10000">
                Contact us
              </a>
            </li>
          </ul>
        </nav>
      )
    }
  </div>
</header>
