<div class="modal fade" tabindex="-1" role="dialog" id="bookModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"><span aria-hidden="true">&times;</span></button
        >
        <h4 class="modal-title">Thanks for reaching us!!!</h4>
      </div>
      <div class="modal-body">
        <p>
          Ciao <span id="modalName">...</span>,
          <br />
          <br />
          grazie di averci contattato! Sono Michele, CEO di Coders51, e sono a tua
          disposizione per discutere con te eventuali collaborazioni in ambito RabbitMQ;
          fissa un appuntamento per una videocall senza impegno direttamente sul
          mio calendario: <a
            href="https://calendar.app.google/6WJdLKpSxtFo1QPa9"
            >https://calendar.app.google/6WJdLKpSxtFo1QPa9</a
          >
          <br />
          <br /> Nel frattempo qua sotto puoi trovare il nostro business case relativo
          a come abbiamo fatto diventare RabbitMQ il centro di comunicazione nevralgico
          per garantire scalabilità e performance al nostro cliente Orkestro:
          <a
            href="https://www.coders51.com/rabbitMQ-orkestro.pdf"
            target="_blank">https://www.coders51.com/rabbitMQ-orkestro.pdf</a
          >

          <br />
          <br />
          A presto,
          <br />
          <br />
          MK
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"
          >Close</button
        >
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
