---
import "../assets/styles/font-awesome.min.css";
import "../assets/styles/bootstrap.min.css";
import "../assets/styles/style.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <!-- Search Engine -->
    <meta
      name="description"
      content="A team of software experts with technological leadership and a consulting partner for the management and governance of complex software architectures"
    />
    <meta
      name="keywords"
      content="scalable software platforms, technical partners, Elixir, Erlang, RabbitMQ, React, React Native, CQRS, es, event sourcing, nodejs, javascript, typescript, microservices, ddd, tdd, domain driven design"
    />
    <!-- Schema.org for Google -->
    <meta
      itemprop="name"
      content="coders51 - We design, build and evolve scalable software platforms"
    />
    <meta
      itemprop="description"
      content="A team of software experts with technological leadership and a consulting partner for the management and governance of complex software architectures"
    />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta
      name="twitter:title"
      content="coders51 - We design, build and evolve scalable software platforms"
    />
    <meta
      name="twitter:description"
      content="A team of software experts with technological leadership and a consulting partner for the management and governance of complex software architectures"
    />
    <meta name="twitter:site" content="@coders51" />
    <meta
      name="twitter:image:src"
      content="http://www.coders51.com/img/share2.jpg"
    />
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta
      name="og:title"
      content="coders51 - We design, build and evolve scalable software platforms"
    />
    <meta
      name="og:description"
      content="A team of software experts with technological leadership and a consulting partner for the management and governance of complex software architectures"
    />
    <meta name="og:image" content="http://www.coders51.com/img/share2.jpg" />
    <meta name="og:url" content="http://www.coders51.com/" />
    <meta name="og:site_name" content="coders51" />
    <meta name="fb:app_id" content="1028463787335394" />
    <meta name="og:type" content="website" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="15" />
    <meta name="language" content="en-US" />
    <meta name="copyright" content="coders51" />
    <meta name="author" content="Michele Carrì & Gianluca Padovani" />
    <meta name="reply-to" content="admin@coders51.com" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome Icon -->
    <script
      src="https://kit.fontawesome.com/42531828f2.js"
      crossorigin="anonymous"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "coders51",
        "url": "https://coders51.com",
        "logo": "http://www.coders51.com/img/share2.jpg"
      }
    </script>
  </head>
  <body>
    <slot />
  </body>

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript">
    var _iub = _iub || [];
    _iub.csConfiguration = {
      ccpaAcknowledgeOnDisplay: true,
      ccpaApplies: true,
      consentOnContinuedBrowsing: false,
      enableCcpa: true,
      floatingPreferencesButtonDisplay: "bottom-left",
      invalidateConsentWithoutLog: true,
      lang: "en",
      perPurposeConsent: true,
      siteId: 2695371,
      whitelabel: false,
      cookiePolicyId: 81936352,
      banner: {
        acceptButtonDisplay: true,
        closeButtonDisplay: false,
        customizeButtonDisplay: true,
        explicitWithdrawal: true,
        listPurposes: true,
        position: "bottom",
        rejectButtonDisplay: true,
      },
    };
  </script>
  <script type="text/javascript" src="//cdn.iubenda.com/cs/ccpa/stub.js"
  ></script>
  <script
    type="text/javascript"
    src="//cdn.iubenda.com/cs/iubenda_cs.js"
    charset="UTF-8"
    async></script>

  <script>
    (function (i, s, o, g, r, a, m) {
      i["GoogleAnalyticsObject"] = r;
      (i[r] =
        i[r] ||
        function () {
          (i[r].q = i[r].q || []).push(arguments);
        }),
        (i[r].l = 1 * new Date());
      (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m);
    })(
      window,
      document,
      "script",
      "//www.google-analytics.com/analytics.js",
      "ga"
    );
    ga("create", "UA-62477704-1", "auto");
    ga("send", "pageview");
  </script>
</html>
