.gform_title {
  font-size: 30px;
  color: #ffffff;
  display: none;
}

.gform-field-label {
  color: #ffffff;
}

.gform_wrapper.gravity-theme .gfield_required {
  color: #ff6400;
}

.gform_wrapper.gravity-theme .gfield_consent_description {
  border: none !important;
  color: #ffffff;
}

.gform_wrapper.gravity-theme .gform_footer input {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 40px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

#gform_confirmation_message_1 {
  color: #ff6400;
}

#gform_confirmation_message_2 {
  color: #ff6400;
}

#gform_confirmation_message_3 {
  color: #ff6400;
}

#gform_confirmation_message_4 {
  color: #ff6400;
}

.et_pb_row_0_tb_footer {
  border-bottom-width: 1px;
  border-bottom-color: #ebebeb;
}

.et_pb_image_0_tb_footer .et_pb_image_wrap img {
  max-height: 32px;
  width: auto;
}

.et_pb_image_0_tb_footer {
  text-align: left;
  margin-left: 0;
}

.et_pb_text_0_tb_footer {
  font-size: 14px;
}

ul.et_pb_social_media_follow_0_tb_footer a.icon {
  border-radius: 24px 24px 24px 24px;
}

.et_pb_social_media_follow_network_0_tb_footer a.icon {
  background-color: #007bb6 !important;
}

.et_pb_social_media_follow_network_1_tb_footer a.icon {
  background-color: #000000 !important;
}

.et_pb_social_media_follow_network_2_tb_footer a.icon {
  background-color: #3b5998 !important;
}

@media only screen and (max-width: 980px) {
  .et_pb_row_0_tb_footer {
    border-bottom-width: 1px;
    border-bottom-color: #ebebeb;
  }

  .et_pb_image_0_tb_footer .et_pb_image_wrap img {
    width: auto;
  }
}

@media only screen and (max-width: 767px) {
  .et_pb_row_0_tb_footer {
    border-bottom-width: 1px;
    border-bottom-color: #ebebeb;
  }

  .et_pb_image_0_tb_footer .et_pb_image_wrap img {
    width: auto;
  }
}

div.et_pb_section.et_pb_section_3,
div.et_pb_section.et_pb_section_4 {
  background-blend-mode: soft-light;
  background-image: url("/img/background_2a.png") !important;
}

.et_pb_section_8.et_pb_section,
.et_pb_section_4.et_pb_section {
  background-color: #0164a0 !important;
}

.et_pb_number_counter_1.et_pb_number_counter h3,
.et_pb_number_counter_1.et_pb_number_counter h1.title,
.et_pb_number_counter_1.et_pb_number_counter h2.title,
.et_pb_number_counter_1.et_pb_number_counter h4.title,
.et_pb_number_counter_1.et_pb_number_counter h5.title,
.et_pb_number_counter_1.et_pb_number_counter h6.title,
.et_pb_number_counter_0.et_pb_number_counter h3,
.et_pb_number_counter_0.et_pb_number_counter h1.title,
.et_pb_number_counter_0.et_pb_number_counter h2.title,
.et_pb_number_counter_0.et_pb_number_counter h4.title,
.et_pb_number_counter_0.et_pb_number_counter h5.title,
.et_pb_number_counter_0.et_pb_number_counter h6.title,
.et_pb_number_counter_2.et_pb_number_counter h3,
.et_pb_number_counter_2.et_pb_number_counter h1.title,
.et_pb_number_counter_2.et_pb_number_counter h2.title,
.et_pb_number_counter_2.et_pb_number_counter h4.title,
.et_pb_number_counter_2.et_pb_number_counter h5.title,
.et_pb_number_counter_2.et_pb_number_counter h6.title,
.et_pb_text_6 h2 {
  color: #ffffff !important;
}

.et_pb_text_6 h3 {
  font-size: 64px;
  color: #ffffff !important;
  text-align: center;
}

.et_pb_text_6 {
  padding-top: 15% !important;
}

.et_pb_blurb_0.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_0.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_1.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_1.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_4.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_4.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_3.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_3.et_pb_blurb .et_pb_module_header a {
  font-size: 20px;
}

.et_pb_blurb_5 .et_pb_main_blurb_image .et_pb_only_image_mode_wrap,
.et_pb_blurb_5 .et_pb_main_blurb_image .et-pb-icon,
.et_pb_blurb_4 .et_pb_main_blurb_image .et_pb_only_image_mode_wrap,
.et_pb_blurb_4 .et_pb_main_blurb_image .et-pb-icon,
.et_pb_blurb_0 .et_pb_main_blurb_image .et_pb_only_image_mode_wrap,
.et_pb_blurb_0 .et_pb_main_blurb_image .et-pb-icon,
.et_pb_blurb_3 .et_pb_main_blurb_image .et_pb_only_image_mode_wrap,
.et_pb_blurb_3 .et_pb_main_blurb_image .et-pb-icon,
.et_pb_blurb_2 .et_pb_main_blurb_image .et_pb_only_image_mode_wrap,
.et_pb_blurb_2 .et_pb_main_blurb_image .et-pb-icon,
.et_pb_blurb_1 .et_pb_main_blurb_image .et_pb_only_image_mode_wrap,
.et_pb_blurb_1 .et_pb_main_blurb_image .et-pb-icon {
  border-color: #0164a0;
  margin-right: 16px !important;
  background-color: RGBA(255, 255, 255, 0);
}

.et_pb_blurb_0 .et-pb-icon {
  font-size: 48px;
  color: #0164a0;
  font-family: ETmodules !important;
  font-weight: 400 !important;
}

.et_pb_blurb_4 .et-pb-icon,
.et_pb_blurb_1 .et-pb-icon {
  font-size: 40px;
  color: #0164a0;
  font-family: FontAwesome !important;
  font-weight: 900 !important;
}

.et_pb_blurb_2 .et-pb-icon,
.et_pb_blurb_5 .et-pb-icon,
.et_pb_blurb_3 .et-pb-icon {
  font-size: 48px;
  color: #0164a0;
  font-family: FontAwesome !important;
  font-weight: 900 !important;
}

body #page-container .et_pb_section .et_pb_button_0 {
  background-color: #0164a0;
}

.et_pb_button_0,
.et_pb_button_0:after,
.et_pb_button_1,
.et_pb_button_1:after {
  transition: all 300ms ease 0ms;
}

div.et_pb_section.et_pb_section_8,
div.et_pb_section.et_pb_section_7 {
  background-image: url("/img/background_1a.png") !important;
}

.et_pb_image_0 {
  width: 50%;
  text-align: left;
  margin-left: 0;
}

body #page-container .et_pb_section .et_pb_button_1 {
  color: #0164a0 !important;
  background-color: #ffffff;
}

body #page-container .et_pb_section .et_pb_button_1,
body #page-container .et_pb_section .et_pb_button_1:hover {
  padding: 10px 30px;
}

body #page-container .et_pb_section .et_pb_button_1:before,
body #page-container .et_pb_section .et_pb_button_1:after {
  display: none !important;
}

.et_pb_row_inner_0.et_pb_row_inner {
  padding-bottom: 0px !important;
}

.et_pb_column .et_pb_row_inner_0 {
  padding-bottom: 0px;
}

.et_pb_number_counter_2.et_pb_number_counter .percent p,
.et_pb_number_counter_0.et_pb_number_counter .percent p,
.et_pb_number_counter_1.et_pb_number_counter .percent p {
  font-weight: 600;
  color: #ffffff !important;
}

.et_pb_number_counter_1.et_pb_number_counter,
.et_pb_number_counter_2.et_pb_number_counter,
.et_pb_number_counter_0.et_pb_number_counter {
  padding-top: 16px;
  padding-bottom: 16px;
}

.et_pb_text_10 {
  padding-bottom: 0px !important;
  margin-bottom: 8px !important;
}

.et_pb_image_1 .et_pb_image_wrap img {
  height: 48px;
  width: auto;
}

.et_pb_image_1 {
  margin-top: 12px !important;
  text-align: center;
}

.et_pb_image_4,
.et_pb_image_2 {
  margin-top: 16px !important;
  text-align: left;
  margin-left: 0;
}

.et_pb_image_3 {
  text-align: left;
  margin-left: 0;
}

.et_pb_image_5,
.et_pb_image_6 {
  margin-top: 16px !important;
  text-align: center;
}

.et_pb_image_6 .et_pb_image_wrap img {
  height: 44px;
  width: auto;
}

.et_pb_image_7 {
  width: 70%;
  text-align: left;
  margin-left: 0;
}

.et_pb_image_8 {
  width: 70%;
  text-align: center;
}

.et_pb_image_9 {
  width: 80%;
  text-align: center;
}

.et_pb_image_10 {
  text-align: center;
}

.et_pb_image_11 {
  margin-top: 24px !important;
  text-align: center;
}

.et_pb_image_12 {
  margin-top: 16px !important;
  width: 80%;
  text-align: center;
}

.et_pb_column_inner_0,
.et_pb_column_inner_1 {
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
  border-width: 2px;
  border-color: #ffffff;
}

.et_pb_column_inner_2 {
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
  border-width: 2px;
  border-color: #ffffff;
  padding-right: 24px;
  padding-left: 24px;
}

.et_pb_image_7.et_pb_module,
.et_pb_image_0.et_pb_module {
  margin-left: auto !important;
  margin-right: auto !important;
}

@media only screen and (max-width: 980px) {
  body #page-container .et_pb_section .et_pb_button_0:after {
    display: inline-block;
    opacity: 0;
  }

  body #page-container .et_pb_section .et_pb_button_0:hover:after {
    opacity: 1;
  }

  .et_pb_image_0 .et_pb_image_wrap img,
  .et_pb_image_1 .et_pb_image_wrap img,
  .et_pb_image_2 .et_pb_image_wrap img,
  .et_pb_image_3 .et_pb_image_wrap img,
  .et_pb_image_4 .et_pb_image_wrap img,
  .et_pb_image_5 .et_pb_image_wrap img,
  .et_pb_image_6 .et_pb_image_wrap img,
  .et_pb_image_7 .et_pb_image_wrap img,
  .et_pb_image_8 .et_pb_image_wrap img,
  .et_pb_image_9 .et_pb_image_wrap img,
  .et_pb_image_10 .et_pb_image_wrap img,
  .et_pb_image_11 .et_pb_image_wrap img,
  .et_pb_image_12 .et_pb_image_wrap img {
    width: auto;
  }
}

@media only screen and (max-width: 767px) {
  body #page-container .et_pb_section .et_pb_button_0:after {
    display: inline-block;
    opacity: 0;
  }

  body #page-container .et_pb_section .et_pb_button_0:hover:after {
    opacity: 1;
  }

  .et_pb_image_0 .et_pb_image_wrap img,
  .et_pb_image_1 .et_pb_image_wrap img,
  .et_pb_image_2 .et_pb_image_wrap img,
  .et_pb_image_3 .et_pb_image_wrap img,
  .et_pb_image_4 .et_pb_image_wrap img,
  .et_pb_image_5 .et_pb_image_wrap img,
  .et_pb_image_6 .et_pb_image_wrap img,
  .et_pb_image_7 .et_pb_image_wrap img,
  .et_pb_image_8 .et_pb_image_wrap img,
  .et_pb_image_9 .et_pb_image_wrap img,
  .et_pb_image_10 .et_pb_image_wrap img,
  .et_pb_image_11 .et_pb_image_wrap img,
  .et_pb_image_12 .et_pb_image_wrap img {
    width: auto;
  }
}

body .et_pb_button {
  background-color: #0164a0;
  border-width: 0px !important;
  border-radius: 50px;
  font-weight: bold;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}

body.et_pb_button_helper_class .et_pb_button,
body.et_pb_button_helper_class .et_pb_module.et_pb_button {
}

body .et_pb_bg_layout_light.et_pb_button:hover,
body .et_pb_bg_layout_light .et_pb_button:hover,
body .et_pb_button:hover {
  border-radius: 0px;
}
